.footer{
    position:sticky;
    bottom:0px;
    display: flex;
    justify-content: center;
    background-color: rgb(33, 37, 41);
}

.footerDiv{
    background-color: transparent;
    color:rgb(23, 162, 184);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    border-radius: 8px;
    margin:4px;
    padding:4px 16px;
    border:1px solid rgb(23, 162, 184);
}
