.header{
    display:flex;
    padding:30px 40px 0px 40px;
    justify-content: space-between;
    align-items: center;
    width:90%;
}
.headerLeft img{
    cursor: pointer;
}
.poweredBy{
    font: 18px 'Oswald', sans-serif;
    color: #6c757d;
    opacity:0.64;
    margin: -14px;
    padding: 0px 22px;
}
.poweredBy a{
    color:rgb(5, 219, 209);
    text-decoration: none;
    cursor:pointer;
}
#hodlinfo{
    object-fit: contain;
    height:48px;
}
.btn{
    margin: 6px;
    padding: 6px 16px;
    border-radius: 16px;
    font-weight: bold;
    font-size:16px;
    background-color: rgb(246, 246, 246);
    border:none;
    outline:none;
    border:3px solid rgb(255, 255, 255);
    transition: all 200ms;
}
.click{
    background-color: rgb(66, 73, 80);
    color: white;
    border:3px solid rgb(136, 146, 155);
}
.CircularProgressbar {
    width: 10%;
    vertical-align: middle;
}  
.CircularProgressbar .CircularProgressbar-path {
    stroke: rgb(61, 198, 193);
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
} 
.CircularProgressbar .CircularProgressbar-trail {
    stroke: rgb(214, 214, 214);
    stroke-linecap: round;
} 
.CircularProgressbar .CircularProgressbar-text {
    fill: rgb(61, 198, 193);
    font-size: 44px;
    font-weight: bold;
    dominant-baseline: middle;
    text-anchor: middle;
}
.CircularProgressbar .CircularProgressbar-background {
    fill: rgb(214, 214, 214);
}
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill:rgb(61, 198, 193) ;
}
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: rgb(255, 255, 255);
}
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: rgb(255, 255, 255);
}
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
}
.headerRight{
    flex:0.32;
    display: flex;
    justify-content:flex-start
}
a{
    text-decoration: none;
}
.telegram{
    display:flex;
    align-items: center;
    background-color: rgb(61, 198, 193);
    border-radius:10px;
    padding:8px 20px;
    cursor:pointer;
    margin-left:20px;
}

.telegram img{
    object-fit: contain;
    height:16px;
}
.telegram p{
    margin:0px;
    margin-left: 10px;
    font-size:16px;
    font-weight: bold;
    color:white;
}

.btn-dark{
    background-color: rgb(52, 58, 64);
    margin: 6px;
    padding: 6px 16px;
    border-radius: 16px;
    font-weight: bold;
    font-size:16px;
    border:none;
    outline:none;
    border:3px solid rgb(87, 87, 87);
    transition: all 200ms;
    color:white;
}

.click-dark{
    background-color: rgb(73, 73, 73);
}